*, *::before, *::after {
  font-family: 'Roboto Mono', monospace;
}

p, ul, ol{
  padding: 0 15%;
}

/******* Navigation bar *******/



nav{
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}

#logo{
 position: absolute;
 left: 10px;
 padding-bottom: 10px;
}

.a-nav{
  padding-left: 20px;
  text-decoration-line: none;
}

a:hover{
 color: grey;
}

/****** INTRO ******/
.banner{
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 30px;
  padding: 70px;
  background-image: url(../images/banner.jpg);
  background-position: bottom;
  background-size: cover;
}

h2{
  font-size: 20px;
  padding: 20px;
}

/******* ABOUT-ME *******/

#about{
  text-align: center;
 }

 /****** Card-Container *******/

 #card-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 20px;
}

h3{
  text-align: center;
  padding: 20px;
  font-weight: bolder;
}

.card{
  padding: 0 20%;
  text-align: center;

}
ul {
  list-style-type: none;
  display: inline-block;
  text-align: left;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  height: 30vw;
  border-radius: 10%;
}

a{
text-decoration-line: none;
color: black;
}

/******* Contact-Form *********/

#contact-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  width: 80%;
  background-color: #eaeaea;
  border-radius: 25px 25px 0 0;
}

label{
  font-size: larger;
  font-weight: bolder;
  padding: 10px 0;
}

table{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="email"],
input[type="submit"],
textarea {
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;
  width: 90%;
  border: 2px solid whitesmoke;
  border-radius: 12px;
}

footer{
  background-color: #eaeaea;
  padding: 10px;
  margin-bottom: 0;
  font-size: small;

}

.footer-icons img{
  width: 30px;
  height: 30px;
}
@media (max-width: 900px) {

  #card-container{
    display: block;
  }
  .card{
    margin: 10px;
    padding: 20px;
    border-radius: 10%;
    border: solid 1px gray;
    box-shadow: 0 2px 2px 0 gray;
  }  
  .img-example{
    padding: 20px;
  }
}

@media (max-width: 490px){

  #logo{
    width: 100%;
    text-align: center;
  }
  .a-nav{
    width: 100%;
    margin-top: 40px;
  }

  .carbon{
    width: 100%;
  }
}

/************************************ CSS DISPLAY INLINE VS INLINE_BLOCK *****************************************/

.example-one,
.example-two,
.example-three{
  border: solid 3px #906c51;
  text-align: center;
}

.example-three{
  display: inline-block;
  height: 100px;
  width: 100px;
}

.spacer{
  height: 20px;
  display: block;
}

/**********   JAVASCRIPT & DOM   **********/

.slideshow {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow: hidden;
}

.slide {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
  animation: slideAnimation 9s infinite;
}

@keyframes slideAnimation {
  0%, 33.33% {
    opacity: 0;
  }
  33.33%, 66.66% {
    opacity: 1;
  }
  66.66%, 100% {
    opacity: 0;
  }
}

.caption {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  color: #fff;
  padding: 5px 10px;
  font-size: 20px;
}

.image-caption {
  margin-top: 5px;
}

ol{
  margin-left: 15%;
}
.carbon{
  width: 60%;
}

.bigCarbon{
  width: 50vw;
  height: 50vh;
}

.image-caption {
  text-align: center;
}