*, *::before, *::after {
  font-family: 'Roboto Mono', monospace;
}

/******* Navigation bar *******/



nav{
  font-size: 20px;
  display: flex;
  justify-content: right;
}

#logo{
 position: absolute;
 left: 10px;
 padding-bottom: 10px;
}

.a-nav{
  padding-left: 20px;
  text-decoration-line: none;
}

a:hover{
 color: grey;
}

/****** INTRO ******/
.banner{
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 30px;
  padding: 70px;
  background-image: url(../images/banner.jpg);
  background-position: bottom;
  background-size: cover;
}

h2{
  font-size: 20px;
  padding: 20px;
}

/******* ABOUT-ME *******/

#about{
  text-align: center;
 }

 /****** Card-Container *******/

 #card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px;
}

h3{
  text-align: center;
  padding: 20px;
  font-weight: bolder;
}

.card{
  padding: 20px;
  text-align: center;

}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 10%;
}

a{
text-decoration-line: none;
color: black;
}

/******* Contact-Form *********/

#contact-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  width: 80%;
  background-color: #906c51;
  border-radius: 25px 25px 0 0;
}
label{
  font-size: larger;
  font-weight: bolder;
  color: white;
  padding: 10px 0;
}

table{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="email"],
input[type="submit"],
textarea {
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;
  width: 90%;
  border: 2px solid whitesmoke;
  border-radius: 12px;
}

footer{
  color: antiquewhite;
  background-color: #906c51;
  padding: 10px;
  margin-bottom: 0;
  font-size: small;

}

@media (max-width: 600px) {

  #card-container{
    display: block;
    padding: 20px;
  }
  .card{
    margin: 20px;
    padding: 10px;
    border-radius: 6px;
    border: solid 3px #906c51;
    box-shadow: 0 2px 2px 0 gray;
    margin: 20px;

  }
}

@media (max-width: 490px){

  #logo{
    width: 100%;
    text-align: center;
  }
  .a-nav{
    width: 100%;
    margin-top: 40px;
  }

}

/************************************ CSS DISPLAY INLINE VS INLINE_BLOCK *****************************************/

.example-one,
.example-two{
  border: solid 3px #906c51;
}

.spacer{
  height: 20px;
  display: block;
}

.return{
  color: antiquewhite;
}