*, *::before, *::after {
  font-family: 'Roboto Mono', monospace;
}

/******* Navigation bar *******/



nav{
  margin-right: 20px;
  font-size: 20px;
  color: gray;
  display: flex;
  justify-content: right;
}

#logo{
 position: absolute;
 left: 10px;
 padding-bottom: 10px;
}

a{
  padding-left: 20px;
  text-decoration-line: none;
  color: black;
}

a:hover{
 color: grey;
}
